/Day 4/Teo/JavaApplication3/nbproject/private/
/Day 4/Pra/mavenproject1/target/
/Day 4/Pra/Soal3/target/
/Day 4/Pra/JavaApplication4/nbproject/private/
/Day 4/Pra/JavaApplication4/build/
/Day 4/Pra/JavaApplication4/dist/
